{
    "debug": false,
    "host": "0.0.0.0",
    "port": 6001,
    "metrics.enabled": true,
    "metrics.host": "0.0.0.0",
    "metrics.port": 9601,
    "webhooks.batching.enabled": true,
    "cache.driver": "redis",
    "queue.driver": "redis",
    "rateLimiter.driver": "redis",
    "appManager.driver": "mysql",
    "appManager.mysql.table": "applications",
    "appManager.cache.enabled": true,
    "appManager.cache.ttl": 3600,
    "databasePooling.enabled": true,
    "database": {
        "mysql": {
            "host": "127.0.0.1",
            "port": "3306",
            "user": "soketi",
            "password": "",
            "database": "soketi_app_manager"
        },
        "redis": {
            "host": "127.0.0.1",
            "port": 6379,
            "db": 0,
            "username": null,
            "password": null,
            "keyPrefix": "soketi_",
            "sentinels": null,
            "sentinelPassword": null,
            "name": "mymaster",
            "clusterNodes": []
        }
    }
}
